@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration:  none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background:rgb(182, 155, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

body{
    background: var(--bg-color);
    color: var(--text-color)
}

section{
    min-height: 100dvh;
    padding: 8rem 9% 2rem;
}

span{
    color: var(--main-color);
}

.navbar{
    /* border: solid yellow; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navbar a{
    font-size: 2.5vw;
    color: var(--text-color);
    font-weight: 500;
    transition: 0.5s;
    /* border: solid white; */
}

.navbar a:hover, 
.navbar:active{
    color: var(--main-color);
}

.home-content{
    max-width: 50rem;
}

.home-content h1{
    font-size: 9vw;
    font-weight: 700;
    text-align: center;
}

.home-content .animated-text{
    position: relative;
    width: 70%;
   /*  border: solid white; */
    align-items: center;
    margin-left: 15%;
}

.home-content .animated-text h3{
    text-align: center;
    font-size: 5vw;
    font-weight: 700;
    color: transparent;
   /*  border: solid white; */
    -webkit-text-stroke: 0.8px var(--main-color);
    width: 80%;
    margin-left: 10%;
}

#soundtrack{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 4rem;
    width: 90%;
    margin-left: 5%;
    border-radius: 5rem;
}
.soundtrack-container{
    /* border: solid red; */
    justify-content: center;
}

.sound{
   width:90%;
   margin-left: 5%;
   margin-top: 3%;
}

.song-title{
    font-size: 6svw;
    font-weight: 700;
    text-align: center;
}

.lyrics{
    margin-top: 3%;
    /* border:solid green; */
}

.lyrics p{
    font-size: 3vw;
    text-align: center;
}

#messages{
    width: 90%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#messages h1{
    font-size: 6vw;
    font-weight: 700;
    text-align: center;
}
.message-img img{
    margin-top: 5%;
    margin-bottom: 5%;
    height: 40vw;
    width:40vw;
    object-fit: contain;
    border-radius: 50%;
    border: 2vw solid var(--main-color);
}


.message-img{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-content p{
    width: 90;
    font-size: 3vw;
    text-align: center;
    border: 3vw solid var(--second-bg-color);
    border-radius: 5%;
}

.message-box{
    margin-top: 3%;
    margin-bottom: 3%;;
}

#more{
    background-color: #112e42;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
